.products-img {
  max-width: 100%;
  width: 150px;
  height: 150px;
}
a.btn-link {
  text-decoration: none;
}
span {
  font-weight: bold;
  font-size: large;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}
.cardDiv {
  border: 1px solid black;
  width: 300px;
  text-align: center;

  h4 {
    padding: 10px;
  }
  p {
    padding: 10px;
  }
}
