@import "../../App.scss";

.carousel {
    margin-bottom: 2rem;
    padding: 0 2rem;

    .slick-track {
        display: flex;
        align-items: stretch;
        justify-content: center;

        .slick-slide {
            height: inherit;

            > div {
                padding: 0 10px;
                height: 100%;
            }
        }
    }

    .slick-prev,
    .slick-next {
        z-index: 2;
        top: 50%;
        background: transparent;
        border: none;
        outline: none;
        color: #ccc;
        font-size: 2rem;
        padding: 0;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .slick-prev {
        transform: translate(80%, -50%);
    }

    .slick-next {
        transform: translate(-80%, -50%);
    }

    .slick-dots li {
        opacity: 0.25;

        .dots-simbol {
            width: 25px;
            height: 5px;
            background-color: rgb(26, 25, 25);
            display: inline-block;
            margin: 0 5px;
        }

        &.slick-active {
            opacity: 1;
        }
    }

    .card {
        height: 100%;
        &-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-subtitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-img-top {
            height: 280px;
            object-fit: contain;
        }

        > .btn {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
