.carousel {
    margin-block: 2rem;

    .slick-list {
        margin: 0 -10px;
    }
    .slick-slide > div {
        padding: 0 10px;
    }

    .slick-prev, .slick-next{
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        outline: none;
        color: #ccc;
        font-size: 2rem;
        font-weight: bold;
        padding: 0;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        cursor: pointer;
        transition: all .3s ease;
    }

}

