$homeBlack: rgba(0, 0, 0, 0.87);

.main-div {
    width: 100%;
    margin-top: auto;
    order: 4;
}

.main-footer {
    background-color: $homeBlack;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-color: blue;
    }
}

.techIcons {
    display: flex;
    justify-content: space-evenly;
}
