$homeBlack: rgba(0, 0, 0, 0.87);

.main-div {
<<<<<<< HEAD
    position: fixed;
    bottom: 0;
    width: 100%;
=======
    width: 100%;
    margin-top: auto;
>>>>>>> db7fbac7d83e932c91de3134d3f55fe088204e9b
}

.main-footer {
    background-color: $homeBlack;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        text-decoration-color: grey;
    }
}