.product-row {
    min-height: 500px;

    &-image-container {
        height: 100%;
    }

    &-image {
        height: auto;
        max-height:60vh ;
        width: 100%;
        object-fit: contain;
    }
}
